In [ ]:
import pandas as pd
import os

resource_folder = 'resources/1403-all'

all_data = []

for month in os.listdir(resource_folder):
    month_folder = os.path.join(resource_folder, month)

    if os.path.isdir(month_folder):
        for file_name in os.listdir(month_folder):
            file_path = os.path.join(month_folder, file_name)
            df = pd.read_excel(file_path)
            all_data.append(df)

In [ ]:
combined_df = pd.concat(all_data, ignore_index=True)

combined_df.head()

In [ ]:
combined_df.rename(columns={
    combined_df.columns[0]: "axis code",
    combined_df.columns[1]: "axis name",
    combined_df.columns[2]: "start time",
    combined_df.columns[3]: "end time",
    combined_df.columns[4]: "operating time (minutes)",
    combined_df.columns[5]: "Total number of vehicles",
    combined_df.columns[6]: "number of Class 1 vehicles",
    combined_df.columns[7]: "number of Class 2 vehicles",
    combined_df.columns[8]: "number of Class 3 vehicles",
    combined_df.columns[9]: "number of Class 4 vehicles",
    combined_df.columns[10]: "number of Class 5 vehicles",
    combined_df.columns[11]: "average speed",
    combined_df.columns[12]: "number of speeding violations",
    combined_df.columns[13]: "number of unauthorized distance violations",
    combined_df.columns[14]: "number of unauthorized overtaking violations",
    combined_df.columns[15]: "estimated number"
}, inplace=True)

combined_df = combined_df[combined_df['axis code'] != 'Ú©Ø¯ Ù…Ø­ÙˆØ±']

combined_df.head()

In [ ]:
from persiantools.jdatetime import JalaliDateTime
import pandas as pd


def convert_jalali_to_gregorian(df):
    df = df.copy()
    df["start time"] = df["start time"].map(lambda x: JalaliDateTime.strptime(x, "%Y/%m/%d %H:%M:%S").to_gregorian())
    df["start time"] = pd.to_datetime(df["start time"])
    df["date"] = df["start time"].dt.date.astype(str)
    df["start hour"] = df["start time"].dt.hour
    return df

In [ ]:
chunk_size = 100000
num_chunks = len(combined_df) // chunk_size + 1

data = []

chunks = [combined_df[i * chunk_size: (i + 1) * chunk_size] for i in range(num_chunks)]

In [ ]:
processed_chunks = convert_jalali_to_gregorian(chunks[9])

data.append(processed_chunks)

In [ ]:
processed_chunks

In [ ]:
print(len(data))

In [ ]:
processed_data = pd.concat(data, ignore_index=True)

processed_data

In [ ]:
df1 = processed_data.copy()

df1['Total number of vehicles'] = pd.to_numeric(df1['Total number of vehicles'], errors='coerce')

daily_traffic = df1.groupby(['axis code', 'date'])['Total number of vehicles'].sum().reset_index()

daily_traffic.head()

In [ ]:
N = 30

top_counters = daily_traffic.groupby('axis code')['Total number of vehicles'].mean().nlargest(N).index

filtered_df = df1[df1['axis code'].isin(top_counters)]

filtered_df['axis code'].unique()

In [ ]:
hourly_traffic = filtered_df.groupby(['axis code', 'start hour'])['Total number of vehicles'].mean().reset_index()

peak_hours_per_axis = hourly_traffic.loc[hourly_traffic.groupby('axis code')['Total number of vehicles'].idxmax()]

M = 20
final_selected_counters = peak_hours_per_axis.nlargest(M, 'Total number of vehicles')

In [ ]:
final_selected_counters

In [ ]:
unique_axes = combined_df[['axis code', 'axis name']].drop_duplicates()

unique_axes

In [137]:
cluster_mapping = {
    # ğŸŸ¢ **South**
    'Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ Ù‚Ù… - Ú¯Ø±Ù…Ø³Ø§Ø± (Ú†Ø±Ù…Ø´Ù‡Ø±)': 'South',
    'Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ Ú¯Ø±Ù…Ø³Ø§Ø± - Ù‚Ù… (Ú†Ø±Ù…Ø´Ù‡Ø±)': 'South',
    'Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ ØªÙ‡Ø±Ø§Ù† - Ù‚Ù… (Ù…Ø¬ØªÙ…Ø¹ ÙŠØ§Ø³)': 'South',
    'Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ Ù‚Ù… - ØªÙ‡Ø±Ø§Ù† (Ù…Ø¬ØªÙ…Ø¹ ÙŠØ§Ø³)': 'South',
    'Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ ØªÙ‡Ø±Ø§Ù† - Ù‚Ù… (Ø¹ÙˆØ§Ø±Ø¶ÙŠ ØªÙ‡Ø±Ø§Ù†)': 'South',
    'Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ Ù‚Ù… - ØªÙ‡Ø±Ø§Ù† (Ø¹ÙˆØ§Ø±Ø¶ÙŠ ØªÙ‡Ø±Ø§Ù†)': 'South',
    'Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ Ù‚Ù… - ØªÙ‡Ø±Ø§Ù† (Ø¨ÙŠÙ† ÙØ±ÙˆØ¯Ú¯Ø§Ù‡ Ùˆ Ø­Ø³Ù† Ø¢Ø¨Ø§Ø¯)': 'South',
    'Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ ØªÙ‡Ø±Ø§Ù† - Ù‚Ù… (Ø¨ÙŠÙ† ÙØ±ÙˆØ¯Ú¯Ø§Ù‡ Ùˆ Ø­Ø³Ù† Ø¢Ø¨Ø§Ø¯)': 'South',
    'Ø¹ÙˆØ§Ø±Ø¶ÙŠ Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ Ù‚Ù… - ØªÙ‡Ø±Ø§Ù† (Ø¨Ù‡Ø´Øª Ø²Ù‡Ø±Ø§)(Ù…Ø¬Ù…ÙˆØ¹ Ú¯ÙŠØª Ù‡Ø§)': 'South',
    'ÙØ±ÙˆØ¯Ú¯Ø§Ù‡ Ø§Ù…Ø§Ù… Ø®Ù…ÙŠÙ†ÙŠ - Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ Ù‚Ù…ØŒ ØªÙ‡Ø±Ø§Ù†': 'South',
    'Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ ØªÙ‡Ø±Ø§Ù†ØŒ Ù‚Ù… - ÙØ±ÙˆØ¯Ú¯Ø§Ù‡ Ø§Ù…Ø§Ù… Ø®Ù…ÙŠÙ†ÙŠ': 'South',
    'Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ ØªÙ‡Ø±Ø§Ù†ØŒ Ù‚Ù… - Ø§Ø³Ù„Ø§Ù…Ø´Ù‡Ø±': 'South',
    'Ø§Ø³Ù„Ø§Ù…Ø´Ù‡Ø± - Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ ØªÙ‡Ø±Ø§Ù†ØŒ Ù‚Ù…': 'South',
    'ØªÙ‡Ø±Ø§Ù† - Ø­Ø³Ù† Ø¢Ø¨Ø§Ø¯ (Ø¬Ø§Ø¯Ù‡ Ù‚Ø¯ÙŠÙ… Ù‚Ù…)': 'South',
    'Ø­Ø³Ù† Ø¢Ø¨Ø§Ø¯ - ØªÙ‡Ø±Ø§Ù† (Ø¬Ø§Ø¯Ù‡ Ù‚Ø¯ÙŠÙ… Ù‚Ù…)': 'South',
    'Ø¬Ø§Ø¯Ù‡ Ù‚Ø¯ÙŠÙ… ØªÙ‡Ø±Ø§Ù† - Ù‚Ù… (Ø­Ø³Ù† Ø¢Ø¨Ø§Ø¯) (Ù…ØªÙ†Ø§Ø¸Ø± ØªÙˆØ²ÙŠÙ†)': 'South',
    'Ø¬Ø§Ø¯Ù‡ Ù‚Ø¯ÙŠÙ… ØªÙ‡Ø±Ø§Ù†ØŒ Ù‚Ù… (Ø­Ø³Ù†â€ŒØ¢Ø¨Ø§Ø¯ - Ù†Ø¹Ù„Ø¨Ù†Ø¯Ø§Ù†)': 'South',
    'Ø¬Ø§Ø¯Ù‡ Ù‚Ø¯ÙŠÙ… Ù‚Ù…ØŒ ØªÙ‡Ø±Ø§Ù† (Ù†Ø¹Ù„Ø¨Ù†Ø¯Ø§Ù† - Ø­Ø³Ù†â€ŒØ¢Ø¨Ø§Ø¯)': 'South',
    'Ø±Ø¨Ø§Ø·\u200cÚ©Ø±ÙŠÙ… - Ø­Ø³Ù†\u200cØ¢Ø¨Ø§Ø¯ (ÙˆÙ‡Ù† Ø¢Ø¨Ø§Ø¯ - Ø¬Ø§Ø¯Ù‡ Ù‚Ø¯ÙŠÙ… Ù‚Ù…)': 'South',
    'Ø­Ø³Ù†\u200cØ¢Ø¨Ø§Ø¯ - Ø±Ø¨Ø§Ø·\u200cÚ©Ø±ÙŠÙ… (Ø¬Ø§Ø¯Ù‡ Ù‚Ø¯ÙŠÙ… Ù‚Ù… - ÙˆÙ‡Ù† Ø¢Ø¨Ø§Ø¯)': 'South',
    'Ø±Ø¨Ø§Ø· Ú©Ø±ÙŠÙ… - Ø´Ù‡Ø±ÙŠØ§Ø±': 'South',
    'Ø´Ù‡Ø±ÙŠØ§Ø± - Ø±Ø¨Ø§Ø· Ú©Ø±ÙŠÙ…': 'South',
    'Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ ØªÙ‡Ø±Ø§Ù† - Ø³Ø§ÙˆÙ‡ (Ø¹ÙˆØ§Ø±Ø¶ÙŠ ØªÙ‡Ø±Ø§Ù†)': 'South',
    'Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ Ø³Ø§ÙˆÙ‡ - ØªÙ‡Ø±Ø§Ù† (Ø¹ÙˆØ§Ø±Ø¶ÙŠ ØªÙ‡Ø±Ø§Ù†)': 'South',
    'Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ ØªÙ‡Ø±Ø§Ù† - Ø³Ø§ÙˆÙ‡ (Ù¾Ø±Ù†Ø¯)': 'South',
    'Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ Ø³Ø§ÙˆÙ‡ - ØªÙ‡Ø±Ø§Ù† (Ù¾Ø±Ù†Ø¯)': 'South',
    'Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ ØªÙ‡Ø±Ø§Ù† - Ø³Ø§ÙˆÙ‡ (ØªÙ‡Ø±Ø§Ù†-Ø±Ø¨Ø§Ø· Ú©Ø±ÙŠÙ…)': 'South',
    'Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ Ø³Ø§ÙˆÙ‡ - ØªÙ‡Ø±Ø§Ù† (Ø±Ø¨Ø§Ø· Ú©Ø±ÙŠÙ…-ØªÙ‡Ø±Ø§Ù†)': 'South',
    'Ø¹ÙˆØ§Ø±Ø¶ÙŠ Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ Ø³Ø§ÙˆÙ‡ - ØªÙ‡Ø±Ø§Ù† (ØªÙ‡Ø±Ø§Ù†)(Ù…Ø¬Ù…ÙˆØ¹ Ú¯ÙŠØª Ù‡Ø§)': 'South',
    'Ø¹ÙˆØ§Ø±Ø¶ÙŠ Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ ØªÙ‡Ø±Ø§Ù† - Ø³Ø§ÙˆÙ‡ (ØªÙ‡Ø±Ø§Ù†)(Ù…Ø¬Ù…ÙˆØ¹ Ú¯ÙŠØª Ù‡Ø§)': 'South',
    'Ø¬Ø§Ø¯Ù‡ Ù‚Ø¯ÙŠÙ… ØªÙ‡Ø±Ø§Ù† - Ø³Ø§ÙˆÙ‡ (Ø±Ø¨Ø§Ø·â€ŒÚ©Ø±ÙŠÙ… - Ù¾Ø±Ù†Ø¯)': 'South',
    'Ø¬Ø§Ø¯Ù‡ Ù‚Ø¯ÙŠÙ… Ø³Ø§ÙˆÙ‡ - ØªÙ‡Ø±Ø§Ù† (Ù¾Ø±Ù†Ø¯ - Ø±Ø¨Ø§Ø·â€ŒÚ©Ø±ÙŠÙ…)': 'South',
    'Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ Ú†Ø±Ù…Ø´Ù‡Ø± - Ø¢Ø¨ÙŠÚ© (Ú†Ø±Ù…Ø´Ù‡Ø±)': 'South',
    'Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ Ø¢Ø¨ÙŠÚ© -Ú†Ø±Ù…Ø´Ù‡Ø± (Ú†Ø±Ù…Ø´Ù‡Ø±)': 'South',
    'Ø¬Ø§Ø¯Ù‡ Ø¯Ø³ØªØ±Ø³ÙŠ Ø§Ø­Ù…Ø¯Ø¢Ø¨Ø§Ø¯ Ù…Ø³ØªÙˆÙÙŠ(Ø¢Ø²Ø§Ø¯Ú¯Ø§Ù† - Ø§Ø³Ù„Ø§Ù…Ø´Ù‡Ø±)': 'South',
    'Ø¬Ø§Ø¯Ù‡ Ø¯Ø³ØªØ±Ø³ÙŠ Ø§Ø­Ù…Ø¯Ø¢Ø¨Ø§Ø¯ Ù…Ø³ØªÙˆÙÙŠ(Ø§Ø³Ù„Ø§Ù…Ø´Ù‡Ø± - Ø¢Ø²Ø§Ø¯Ú¯Ø§Ù†)': 'South',

    # ğŸ”´ **West**
    'Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ ØªÙ‡Ø±Ø§Ù† - Ú©Ø±Ø¬ (Ø¹ÙˆØ§Ø±Ø¶ÙŠ Ù‚Ø¯ÙŠÙ…)': 'West',
    'Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ Ú©Ø±Ø¬ - ØªÙ‡Ø±Ø§Ù† (Ø¹ÙˆØ§Ø±Ø¶ÙŠ Ù‚Ø¯ÙŠÙ…)': 'West',
    'Ø¬Ø§Ø¯Ù‡ Ù…Ø®ØµÙˆØµ ØªÙ‡Ø±Ø§Ù† - Ú©Ø±Ø¬ (ÙˆØ±Ø¯Ø¢ÙˆØ±Ø¯)': 'West',
    'Ø¬Ø§Ø¯Ù‡ Ù…Ø®ØµÙˆØµ Ú©Ø±Ø¬ - ØªÙ‡Ø±Ø§Ù† (ÙˆØ±Ø¯Ø¢ÙˆØ±Ø¯)': 'West',
    'ØªÙ‡Ø±Ø§Ù† - ÙˆØ±Ø¯Ø¢ÙˆØ±Ø¯ (Ù‡Ù…Øª)': 'West',
    'ÙˆØ±Ø¯Ø¢ÙˆØ±Ø¯ - ØªÙ‡Ø±Ø§Ù† (Ù‡Ù…Øª)': 'West',
    'Ø´Ù‡Ø±ÙŠØ§Ø± - Ø¢Ø¯Ø±Ø§Ù†': 'West',
    'Ø´Ù‡Ø±ÙŠØ§Ø±-Ú©Ø±Ø¬ (Ù‡ÙØª Ø¬ÙˆÙŠ)': 'West',
    'Ú©Ø±Ø¬-Ø´Ù‡Ø±ÙŠØ§Ø± (Ù‡ÙØª Ø¬ÙˆÙŠ)': 'West',
    'Ø´Ù‡Ø±ÙŠØ§Ø± - ØªÙ‡Ø±Ø§Ù† (Ø¨Ø§ØºØ³ØªØ§Ù†)': 'West',
    'Ø´Ù‡Ø±ÙŠØ§Ø± - ØªÙ‡Ø±Ø§Ù† (Ø´Ù‡Ø± Ù‚Ø¯Ø³)': 'West',
    'ØªÙ‡Ø±Ø§Ù† - Ø´Ù‡Ø±ÙŠØ§Ø± (Ø¨Ø§ØºØ³ØªØ§Ù†)': 'West',
    'ØªÙ‡Ø±Ø§Ù† - Ø´Ù‡Ø±ÙŠØ§Ø± (Ø´Ù‡Ø± Ù‚Ø¯Ø³)': 'West',
    'Ù…Ù„Ø§Ø±Ø¯ - ØµÙØ§Ø¯Ø´Øª': 'West',
    'ØµÙØ§Ø¯Ø´Øª - Ù…Ù„Ø§Ø±Ø¯': 'West',
    'Ø´Ù‡Ø±ÙŠØ§Ø±(Ø¨Ù„ÙˆØ§Ø± ÙˆÙ„ÙŠØ¹ØµØ±) - Ù…Ù„Ø§Ø±Ø¯': 'West',
    'Ù…Ù„Ø§Ø±Ø¯ - Ø´Ù‡Ø±ÙŠØ§Ø±(Ø¨Ù„ÙˆØ§Ø± ÙˆÙ„ÙŠØ¹ØµØ±)': 'West',
    'Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ Ú†Ø±Ù…Ø´Ù‡Ø± - Ø¢Ø¨ÙŠÚ© (ØªÙ‚Ø§Ø·Ø¹ Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ ØªÙ‡Ø±Ø§Ù† - Ø³Ø§ÙˆÙ‡)': 'West',
    'Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ Ú†Ø±Ù…Ø´Ù‡Ø± - Ø¢Ø¨ÙŠÚ© (ØªÙ‚Ø§Ø·Ø¹ Ø§Ø®ØªØ±Ø¢Ø¨Ø§Ø¯)': 'West',
    'Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ Ø¢Ø¨ÙŠÚ© - Ú†Ø±Ù…Ø´Ù‡Ø± (ØªÙ‚Ø§Ø·Ø¹ Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ ØªÙ‡Ø±Ø§Ù† - Ø³Ø§ÙˆÙ‡)': 'West',
    'Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ Ø¢Ø¨ÙŠÚ© - Ú†Ø±Ù…Ø´Ù‡Ø±(ØªÙ‚Ø§Ø·Ø¹ Ø§Ø®ØªØ±Ø¢Ø¨Ø§Ø¯)': 'West',

    # ğŸŸ£ **North**
    'ØªÙ‡Ø±Ø§Ù† - Ø§Ù…Ø§Ù… Ø²Ø§Ø¯Ù‡ Ø¯Ø§ÙˆÙˆØ¯': 'North',
    'Ø§Ù…Ø§Ù… Ø²Ø§Ø¯Ù‡ Ø¯Ø§ÙˆÙˆØ¯ - ØªÙ‡Ø±Ø§Ù†': 'North',
    'ØªÙ‡Ø±Ø§Ù† - Ù„ÙˆØ§Ø³Ø§Ù†Ø§Øª (Ø·Ù„Ø§Ø¦ÙŠÙ‡)': 'North',
    'ØªÙ‡Ø±Ø§Ù† - Ù„ÙˆØ§Ø³Ø§Ù†Ø§Øª (Ø³ÙˆÙ‡Ø§Ù†Ú©)': 'North',
    'ØªÙ‡Ø±Ø§Ù† - Ù„ÙˆØ§Ø³Ø§Ù†Ø§Øª (ØªÙ„Ùˆ)': 'North',
    'Ù„ÙˆØ§Ø³Ø§Ù†Ø§Øª - ØªÙ‡Ø±Ø§Ù† (Ø·Ù„Ø§Ø¦ÙŠÙ‡)': 'North',
    'Ù„ÙˆØ§Ø³Ø§Ù†Ø§Øª - ØªÙ‡Ø±Ø§Ù† (Ø³ÙˆÙ‡Ø§Ù†Ú©)': 'North',
    'Ù„ÙˆØ§Ø³Ø§Ù†Ø§Øª - ØªÙ‡Ø±Ø§Ù† (ØªÙ„Ùˆ)': 'North',
    'Ù„ÙˆØ§Ø³Ø§Ù†Ø§Øª - ÙØ´Ù…': 'North',
    'ÙØ´Ù… - Ù…ÙŠÚ¯ÙˆÙ†': 'North',
    'ÙØ´Ù… - Ù„ÙˆØ§Ø³Ø§Ù†Ø§Øª': 'North',
    'Ù…ÙŠÚ¯ÙˆÙ† - ÙØ´Ù…': 'North',
    'Ø¬Ø§Ø¬Ø±ÙˆØ¯ - Ù„ØªÙŠØ§Ù†': 'North',
    'Ù„ØªÙŠØ§Ù† - Ø¬Ø§Ø¬Ø±ÙˆØ¯': 'North',
    'Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ ØªÙ‡Ø±Ø§Ù†- Ø´Ù…Ø§Ù„ (Ù‚Ø·Ø¹Ù‡ Ø§ÙˆÙ„ - Ù…Ø­Ø¯ÙˆØ¯Ù‡ Ø¹ÙˆØ§Ø±Ø¶ÙŠ ØªÙ‡Ø±Ø§Ù†)': 'North',
    'Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ Ø´Ù…Ø§Ù„ - ØªÙ‡Ø±Ø§Ù† (Ù‚Ø·Ø¹Ù‡ Ø§ÙˆÙ„ - Ù…Ø­Ø¯ÙˆØ¯Ù‡ Ø¹ÙˆØ§Ø¶ÙŠ ØªÙ‡Ø±Ø§Ù†)': 'North',
    'Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ ØªÙ‡Ø±Ø§Ù†- Ø´Ù…Ø§Ù„ (Ù‚Ø·Ø¹Ù‡ Ø§ÙˆÙ„ - Ø¨Ø¹Ø¯ Ø§Ø² ØªÙˆÙ†Ù„ 12)': 'North',
    'Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ Ø´Ù…Ø§Ù„ - ØªÙ‡Ø±Ø§Ù† (Ù‚Ø·Ø¹Ù‡ Ø§ÙˆÙ„ - Ø¨Ø¹Ø¯ Ø§Ø² ØªÙˆÙ†Ù„ 12)': 'North',
    'Ø¬Ø§Ø¬Ø±ÙˆØ¯ - ØªÙ‡Ø±Ø§Ù†': 'North',
    'ØªÙ‡Ø±Ø§Ù† - Ø¬Ø§Ø¬Ø±ÙˆØ¯ (Ù…ØªÙ†Ø§Ø¸Ø± ØªÙˆØ²ÙŠÙ†)': 'North',

    # ğŸ”µ **East**
    'Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ ØªÙ‡Ø±Ø§Ù† - Ù¾Ø±Ø¯ÙŠØ³ (Ø¹ÙˆØ§Ø±Ø¶ÙŠ Ù¾Ø±Ø¯ÙŠØ³)': 'East',
    'Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ Ù¾Ø±Ø¯ÙŠØ³ - ØªÙ‡Ø±Ø§Ù† (Ø¹ÙˆØ§Ø±Ø¶ÙŠ Ù¾Ø±Ø¯ÙŠØ³)': 'East',
    'Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ ØªÙ‡Ø±Ø§Ù† - Ù¾Ø±Ø¯ÙŠØ³ (Ø¨ÙˆÙ…Ù‡Ù†)': 'East',
    'Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ Ù¾Ø±Ø¯ÙŠØ³ - ØªÙ‡Ø±Ø§Ù† (Ø¨ÙˆÙ…Ù‡Ù†)': 'East',
    'Ø¹ÙˆØ§Ø±Ø¶ÙŠ Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ ØªÙ‡Ø±Ø§Ù†- Ù¾Ø±Ø¯ÙŠØ³ (ÙØ§Ø²8 ) (Ù…Ø¬Ù…ÙˆØ¹ Ú¯ÙŠØª Ù‡Ø§)': 'East',
    'Ø¹ÙˆØ§Ø±Ø¶ÙŠ Ø¢Ø²Ø§Ø¯Ø±Ø§Ù‡ Ù¾Ø±Ø¯ÙŠØ³- ØªÙ‡Ø±Ø§Ù† (ÙØ§Ø²11) (Ù…Ø¬Ù…ÙˆØ¹ Ú¯ÙŠØª Ù‡Ø§)': 'East',
    'Ø±ÙˆØ¯Ù‡Ù† - Ø¯Ù…Ø§ÙˆÙ†Ø¯': 'East',
    'Ø¯Ù…Ø§ÙˆÙ†Ø¯ - Ø±ÙˆØ¯Ù‡Ù†': 'East',
    'Ø±ÙˆØ¯Ù‡Ù† - Ø¢Ø¨Ø¹Ù„ÙŠ': 'East',
    'Ø¢Ø¨Ø¹Ù„ÙŠ - Ø±ÙˆØ¯Ù‡Ù†': 'East',
    'Ù¾Ù„ÙˆØ± - Ø¢Ø¨Ø¹Ù„ÙŠ (Ø³Ù‡â€ŒØ±Ø§Ù‡ÙŠ Ù…Ø´Ø§Ø¡ - Ø¢Ø¨Ø¹Ù„ÙŠ)': 'East',
    'Ø¢Ø¨Ø¹Ù„ÙŠ - Ù¾Ù„ÙˆØ± (Ø¢Ø¨Ø¹Ù„ÙŠ - Ø³Ù‡â€ŒØ±Ø§Ù‡ÙŠ Ù…Ø´Ø§Ø¡)': 'East',
    'Ù¾Ù„ÙˆØ± - Ø¢Ø¨Ø¹Ù„ÙŠ (Ø§Ù…Ø§Ù…Ø²Ø§Ø¯Ù‡ Ù‡Ø§Ø´Ù… - Ø³Ù‡â€ŒØ±Ø§Ù‡ÙŠ Ù…Ø´Ø§Ø¡)': 'East',
    'Ø¢Ø¨Ø¹Ù„ÙŠ - Ù¾Ù„ÙˆØ± (Ø³Ù‡â€ŒØ±Ø§Ù‡ÙŠ Ù…Ø´Ø§Ø¡ - Ø§Ù…Ø§Ù…Ø²Ø§Ø¯Ù‡ Ù‡Ø§Ø´Ù…)': 'East',
    'Ø¯Ù…Ø§ÙˆÙ†Ø¯ - ÙÙŠØ±ÙˆØ²Ú©ÙˆÙ‡ (Ø§Ù…ÙŠÙ†â€ŒØ¢Ø¨Ø§Ø¯ - Ø³Ù‡â€ŒØ±Ø§Ù‡ Ø§Ø±Ø¬Ù…Ù†Ø¯)': 'East',
    'ÙÙŠØ±ÙˆØ²Ú©ÙˆÙ‡ - Ø¯Ù…Ø§ÙˆÙ†Ø¯ (Ø³Ù‡â€ŒØ±Ø§Ù‡ Ø§Ø±Ø¬Ù…Ù†Ø¯ - Ø§Ù…ÙŠÙ†â€ŒØ¢Ø¨Ø§Ø¯)': 'East',
    'Ø¯Ù…Ø§ÙˆÙ†Ø¯ - ÙÙŠØ±ÙˆØ²Ú©ÙˆÙ‡ (Ú¯ÙŠÙ„Ø§ÙˆÙ†Ø¯ - Ø¢Ø¨Ø³Ø±Ø¯)': 'East',
    'ÙÙŠØ±ÙˆØ²Ú©ÙˆÙ‡ - Ø¯Ù…Ø§ÙˆÙ†Ø¯ (Ø¢Ø¨Ø³Ø±Ø¯ - Ú¯ÙŠÙ„Ø§ÙˆÙ†Ø¯)': 'East',
    'Ø¯Ù…Ø§ÙˆÙ†Ø¯ - ÙÙŠØ±ÙˆØ²Ú©ÙˆÙ‡ (Ø³Ø±Ø¨Ù†Ø¯Ø§Ù† - Ø§Ù…ÙŠÙ†â€ŒØ¢Ø¨Ø§Ø¯)': 'East',
    'ÙÙŠØ±ÙˆØ²Ú©ÙˆÙ‡ - Ø¯Ù…Ø§ÙˆÙ†Ø¯ (Ø§Ù…ÙŠÙ†â€ŒØ¢Ø¨Ø§Ø¯ - Ø³Ø±Ø¨Ù†Ø¯Ø§Ù†)': 'East',
    'ÙÙŠØ±ÙˆØ²Ú©ÙˆÙ‡ - Ø¯Ù…Ø§ÙˆÙ†Ø¯ (Ø¢Ø¨Ø³Ø±Ø¯ - Ø¯Ù…Ø§ÙˆÙ†Ø¯)': 'East',
    'Ø¯Ù…Ø§ÙˆÙ†Ø¯ - ÙÙŠØ±ÙˆØ²Ú©ÙˆÙ‡ (Ø¯Ù…Ø§ÙˆÙ†Ø¯ - Ø¢Ø¨Ø³Ø±Ø¯)': 'East',
    'Ø¯Ù…Ø§ÙˆÙ†Ø¯ - ÙÙŠØ±ÙˆØ²Ú©ÙˆÙ‡ (Ø¢Ø¨Ø³Ø±Ø¯ - Ø³Ø±Ø¨Ù†Ø¯Ø§Ù†)': 'East',
    'ÙÙŠØ±ÙˆØ²Ú©ÙˆÙ‡ - Ø¯Ù…Ø§ÙˆÙ†Ø¯ (Ø³Ø±Ø¨Ù†Ø¯Ø§Ù† - Ø¢Ø¨Ø³Ø±Ø¯)': 'East',
    'Ø¯Ù…Ø§ÙˆÙ†Ø¯ - ÙÙŠØ±ÙˆØ²Ú©ÙˆÙ‡ (Ø³Ù‡\u200cØ±Ø§Ù‡ÙŠ Ø§Ø±Ø¬Ù…Ù†Ø¯ - ÙÙŠØ±ÙˆØ²Ú©ÙˆÙ‡)': 'East',
    'ÙÙŠØ±ÙˆØ²Ú©ÙˆÙ‡ - Ø¯Ù…Ø§ÙˆÙ†Ø¯ (ÙÙŠØ±ÙˆØ²Ú©ÙˆÙ‡ - Ø³Ù‡\u200cØ±Ø§Ù‡ÙŠ Ø§Ø±Ø¬Ù…Ù†Ø¯)': 'East',
    'ÙÙŠØ±ÙˆØ²Ú©ÙˆÙ‡ - Ú¯Ø¯ÙˆÚ©': 'East',
    'Ú¯Ø¯ÙˆÚ© - ÙÙŠØ±ÙˆØ²Ú©ÙˆÙ‡': 'East',
    'Ø¢Ø¨Ø³Ø±Ø¯ - Ø§ÙŠÙˆØ§Ù†Ú©ÙŠ (Ø¢Ø¨Ø³Ø±Ø¯ - Ø¯ÙˆØ¢Ø¨)': 'East',
    'Ø§ÙŠÙˆØ§Ù†Ú©ÙŠ - Ø¢Ø¨Ø³Ø±Ø¯ (Ø¯ÙˆØ¢Ø¨ - Ø¢Ø¨Ø³Ø±Ø¯)': 'East',
    'Ú©Ù…Ø±Ø¨Ù†Ø¯ÙŠ Ø¬Ù†ÙˆØ¨ÙŠ Ø±ÙˆØ¯Ù‡Ù† (Ù¾Ø±Ø¯ÙŠØ³ - Ø¯Ù…Ø§ÙˆÙ†Ø¯)': 'East',
    'Ú©Ù…Ø±Ø¨Ù†Ø¯ÙŠ Ø¬Ù†ÙˆØ¨ÙŠ Ø±ÙˆØ¯Ù‡Ù† (Ø¯Ù…Ø§ÙˆÙ†Ø¯ - Ù¾Ø±Ø¯ÙŠØ³)': 'East',
    'ÙÙŠØ±ÙˆØ²Ú©ÙˆÙ‡ - Ø³Ù…Ù†Ø§Ù† (ÙÙŠØ±ÙˆØ²Ú©ÙˆÙ‡)': 'East',
    'Ø³Ù…Ù†Ø§Ù† - ÙÙŠØ±ÙˆØ²Ú©ÙˆÙ‡ (ÙÙŠØ±ÙˆØ²Ú©ÙˆÙ‡)': 'East',

    # ğŸ”µ **Southeast**
    'Ø±ÙŠ - Ù‚Ø±Ú†Ú©': 'Southeast',
    'Ù‚Ø±Ú†Ú© - Ø±ÙŠ': 'Southeast',
    'ØªÙ‡Ø±Ø§Ù† - Ù¾Ø§Ú©Ø¯Ø´Øª': 'Southeast',
    'Ù¾Ø§Ú©Ø¯Ø´Øª - ØªÙ‡Ø±Ø§Ù†': 'Southeast',
    'Ù¾Ø§Ú©Ø¯Ø´Øª - Ø´Ø±ÙŠÙ Ø¢Ø¨Ø§Ø¯': 'Southeast',
    'Ø´Ø±ÙŠÙ Ø¢Ø¨Ø§Ø¯ - Ù¾Ø§Ú©Ø¯Ø´Øª': 'Southeast',
    'Ø´Ø±ÙŠÙ Ø¢Ø¨Ø§Ø¯ - Ú¯Ø±Ù…Ø³Ø§Ø±': 'Southeast',
    'Ú¯Ø±Ù…Ø³Ø§Ø± - Ø´Ø±ÙŠÙ Ø¢Ø¨Ø§Ø¯': 'Southeast',
    'Ù¾ÙŠØ´ÙˆØ§ - Ø´Ø±ÙŠÙâ€ŒØ¢Ø¨Ø§Ø¯': 'Southeast',
    'Ø´Ø±ÙŠÙâ€ŒØ¢Ø¨Ø§Ø¯ - Ù¾ÙŠØ´ÙˆØ§': 'Southeast',
    'ÙˆØ±Ø§Ù…ÙŠÙ† - Ú†Ø±Ù…Ø´Ù‡Ø±': 'Southeast',
    'Ú†Ø±Ù…Ø´Ù‡Ø± - ÙˆØ±Ø§Ù…ÙŠÙ†': 'Southeast',
    'Ú©Ù…Ø±Ø¨Ù†Ø¯ÙŠ Ø¯ÙˆÙ… ØªÙ‡Ø±Ø§Ù† (Ø¬Ø§Ø¯Ù‡ ÙˆØ±Ø§Ù…ÙŠÙ† - Ø´ÙˆØ±Ø¢Ø¨Ø§Ø¯)': 'Southeast',
    'Ú©Ù…Ø±Ø¨Ù†Ø¯ÙŠ Ø¯ÙˆÙ… ØªÙ‡Ø±Ø§Ù† (Ø´ÙˆØ±Ø¢Ø¨Ø§Ø¯ - Ø¬Ø§Ø¯Ù‡ ÙˆØ±Ø§Ù…ÙŠÙ†)': 'Southeast'
}

print(len(cluster_mapping))

125

In [147]:
cluster_to_axes = {}

for axis_name, cluster in cluster_mapping.items():
    axis_code = unique_axes.loc[unique_axes['axis name'] == axis_name, 'axis code'].values[0]

    if cluster not in cluster_to_axes:
        cluster_to_axes[cluster] = []

    cluster_to_axes[cluster].append(axis_code)

In [149]:
cluster_1 = processed_data[processed_data['axis code'].isin(cluster_to_axes['North'])]

cluster_2 = processed_data[processed_data['axis code'].isin(cluster_to_axes['East'])]

cluster_3 = processed_data[processed_data['axis code'].isin(cluster_to_axes['South'])]

cluster_4 = processed_data[processed_data['axis code'].isin(cluster_to_axes['West'])]

cluster_5 = processed_data[processed_data['axis code'].isin(cluster_to_axes['Southeast'])]

In [165]:
cluster_1 = cluster_1.copy()
cluster_1['Total number of vehicles'] = pd.to_numeric(cluster_1['Total number of vehicles'], errors='coerce')

daily_traffic_1 = cluster_1.groupby(['axis code', 'date'])['Total number of vehicles'].sum().reset_index()

N = 20

top_counters_1 = daily_traffic_1.groupby('axis code')['Total number of vehicles'].mean().nlargest(N).index

filtered_df_1 = cluster_1[cluster_1['axis code'].isin(top_counters_1)]

filtered_df_1['axis code'].unique()

hourly_traffic_1 = filtered_df_1.groupby(['axis code', 'start hour'])['Total number of vehicles'].mean().reset_index()

peak_hours_per_axis_1 = hourly_traffic_1.loc[hourly_traffic_1.groupby('axis code')['Total number of vehicles'].idxmax()]

M = 10
final_selected_counters_1 = peak_hours_per_axis_1.nlargest(M, 'Total number of vehicles')

final_selected_counters_1

     axis code  start hour  Total number of vehicles
329     113813          17               3447.693452
449     113863          17               2843.353312
44      113213          20               1553.183230
137     113263          17               1475.524390
186     113299          18                980.651786
377     113851          17                959.036424
198     113341           6                904.163690
152     113264           8                870.269625
251     113801          11                833.867987
78      113249           6                831.420896

In [164]:
cluster_2 = cluster_2.copy()
cluster_2['Total number of vehicles'] = pd.to_numeric(cluster_2['Total number of vehicles'], errors='coerce')

daily_traffic_2 = cluster_2.groupby(['axis code', 'date'])['Total number of vehicles'].sum().reset_index()

N = 20

top_counters_2 = daily_traffic_2.groupby('axis code')['Total number of vehicles'].mean().nlargest(N).index

filtered_df_2 = cluster_2[cluster_2['axis code'].isin(top_counters_2)]

filtered_df_2['axis code'].unique()

hourly_traffic_2 = filtered_df_2.groupby(['axis code', 'start hour'])['Total number of vehicles'].mean().reset_index()

peak_hours_per_axis_2 = hourly_traffic_2.loc[hourly_traffic_2.groupby('axis code')['Total number of vehicles'].idxmax()]

M = 10
final_selected_counters_2 = peak_hours_per_axis_2.nlargest(M, 'Total number of vehicles')

final_selected_counters_2

     axis code  start hour  Total number of vehicles
89      113257          17               2786.798450
329     113464          17               2750.883333
65      113256          17               2630.775385
161     113414          17               2602.422222
17      113206          17               2463.089231
401     113469          17               2461.779762
281     113453          17               2433.616314
107     113403          11               2374.296636
35      113207          11               2245.063253
227     113419          11               2242.274627

In [163]:
cluster_3 = cluster_3.copy()
cluster_3['Total number of vehicles'] = pd.to_numeric(cluster_3['Total number of vehicles'], errors='coerce')

daily_traffic_3 = cluster_3.groupby(['axis code', 'date'])['Total number of vehicles'].sum().reset_index()

N = 40

top_counters_3 = daily_traffic_3.groupby('axis code')['Total number of vehicles'].mean().nlargest(N).index

filtered_df_3 = cluster_3[cluster_3['axis code'].isin(top_counters_3)]

filtered_df_3['axis code'].unique()

hourly_traffic_3 = filtered_df_3.groupby(['axis code', 'start hour'])['Total number of vehicles'].mean().reset_index()

peak_hours_per_axis_3 = hourly_traffic_3.loc[hourly_traffic_3.groupby('axis code')['Total number of vehicles'].idxmax()]

M = 20
final_selected_counters_3 = peak_hours_per_axis_3.nlargest(M, 'Total number of vehicles')

final_selected_counters_3

     axis code  start hour  Total number of vehicles
703     114110           7               5219.806228
497     113612          17               5173.779264
305     113260          17               4908.359756
66      113204          18               4877.212121
258     113254          18               4770.806122
233     113253          17               4631.532738
463     113604           7               4455.977564
569     113654          17               4375.754601
808     114160          16               4225.343972
42      113203          18               4148.215569
114     113210          18               3910.650456
89      113208          17               3902.451178
282     113258          18               3546.009231
402     113352          18               2954.415094
606     113751           6               2942.817365
591     113701          15               2891.913357
330     113278          18               2816.081699
689     114103          17               2596.264438
367     113302           7               2569.526515
775     114153           7               2312.315589

In [162]:
cluster_4 = cluster_4.copy()
cluster_4['Total number of vehicles'] = pd.to_numeric(cluster_4['Total number of vehicles'], errors='coerce')

daily_traffic_4 = cluster_4.groupby(['axis code', 'date'])['Total number of vehicles'].sum().reset_index()

N = 20

top_counters_4 = daily_traffic_4.groupby('axis code')['Total number of vehicles'].mean().nlargest(N).index

filtered_df_4 = cluster_4[cluster_4['axis code'].isin(top_counters_4)]

filtered_df_4['axis code'].unique()

hourly_traffic_4 = filtered_df_4.groupby(['axis code', 'start hour'])['Total number of vehicles'].mean().reset_index()

peak_hours_per_axis_4 = hourly_traffic_4.loc[hourly_traffic_4.groupby('axis code')['Total number of vehicles'].idxmax()]

M = 10
final_selected_counters_4 = peak_hours_per_axis_4.nlargest(M, 'Total number of vehicles')

final_selected_counters_4

     axis code  start hour  Total number of vehicles
448     114501          16               6747.357798
471     114551          15               6432.787879
17      113202          17               4277.660606
159     113904          15               4150.406452
90      113428          18               4071.348243
42      113252          18               4042.628399
257     113954          17               3760.527508
281     113959          17               3272.365314
137     113903          17               2853.513932
175     113909           7               2729.543071

In [161]:
cluster_5 = cluster_5.copy()
cluster_5['Total number of vehicles'] = pd.to_numeric(cluster_5['Total number of vehicles'], errors='coerce')

daily_traffic_5 = cluster_5.groupby(['axis code', 'date'])['Total number of vehicles'].sum().reset_index()

N = 20

top_counters_5= daily_traffic_5.groupby('axis code')['Total number of vehicles'].mean().nlargest(N).index

filtered_df_5 = cluster_5[cluster_5['axis code'].isin(top_counters_5)]

filtered_df_5['axis code'].unique()

hourly_traffic_5 = filtered_df_5.groupby(['axis code', 'start hour'])['Total number of vehicles'].mean().reset_index()

peak_hours_per_axis_5 = hourly_traffic_5.loc[hourly_traffic_5.groupby('axis code')['Total number of vehicles'].idxmax()]

M = 10
final_selected_counters_5 = peak_hours_per_axis_5.nlargest(M, 'Total number of vehicles')

final_selected_counters_5

     axis code  start hour  Total number of vehicles
41      113259          17               4615.584416
17      113209          17               4069.775735
90      114302          18               3770.380062
281     114451          17               3583.321429
199     114401           7               3414.576119
151     114352           7               3317.931373
305     114463          17               1867.328467
223     114413           7               1486.957143
246     114418           6               1383.672000
331     114468          19               1156.105882